@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: normal;
  src: url("Qs_Iranyekan.ttf");
  /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: IRANYekanBold;
  font-style: normal;
  font-weight: bold;
  src: url("Qs_Iranyekan bold.ttf");
}
