@font-face {
  font-family: IRANYekanXNumEnBold;
  font-style: normal;
  font-weight: bold;
  src: url("IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanXNumEn;
  font-style: normal;
  font-weight: 500;
  src: url("IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;

  src: url("IRANYekanXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src: url("IRANYekanXFaNum-Regular.woff2") format("woff2");
}
